* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: brown;
}
header {
  text-align: center;
  text-transform: capitalize;
  padding: 5px;
  border-bottom: 2px;
}
#utc-time {
  font-size: 24px;
  color: black;
  border-bottom: 5px;
}
h1,
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.goals {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 60px;
  border-radius: 5px;
  background-color: burlywood;
}
li {
  padding-bottom: 10px;
}
.links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 90px;
}
.links a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: burlywood;
  text-decoration: underline;
}
a:active {
  color: burlywood;
}
@media (min-width: 768px) and (max-width: 1200px) {
  body {
    color: brown;
    background-color: burlywood;
  }
  .display-img {
    float: left;
    margin-right: 100px;
    margin-top: 20px;
  }
  .goals {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    width: 40%;
    color: brown;
    font: bold;
  }
  .tech-goals {
    padding-right: 210px;
    margin-right: 150px;
    width: 100%;
  }
  a {
    color: brown;
  }
  a:visited {
    color: black;
  }
  a:hover {
    color: brown;
  }
  a:active {
    color: burlywood;
  }
  .links {
    padding-right: 160px;
  }
}
